html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* .card {
    background: white;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.171);
    border-radius: 3px;
} */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.fh {
    height: 100%;
}

.fw {
    width: 100%;
}

.box {
    box-sizing: border-box;
}

.landing-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#register-illustration {
    height: 100%;
    flex: 60%;
    padding: 100px;
    box-sizing: border-box;
}

#register-illustration img {
    width: 100%;
    margin: auto;
}

.landing-details {
    flex: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #f1f1f1; */
    box-sizing: border-box;
    overflow: hidden;
}

.landing-details-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

.landing-details-logo img {
    width: 30px;
    height: 30px;
}

.landing-details-logo span {
    height: fit-content;
    line-height: 0.5em;
    flex: 1;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #0095ff
}

.landing-details p {
    color: #666666;
    line-height: 1.5em;
    margin: 30px 20px 30px 0;
}

.details-form {
    width: 100%;
    display: grid;
}

.details-form-title {
    font-weight: bold;
    margin: 0 auto 15px auto;
    text-transform: capitalize;
    opacity: 0.9;
}

.form-input {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #666666;
    border-bottom: 1px solid #e6e6e6;
}

.form-input i {
    font-size: 20px;
    opacity: 0.8;
}

.form-input input {
    padding: 5px;
    font-size: 15px;
    margin-left: 10px;
    background: none;
    border: none;
    flex: 1;
}

.form-input input:focus{
    outline: none;
}

.form-input:last-child {
    border-bottom: none;
}

.landing-card {
    width: 85%;
    padding: 20px 10px;
    box-sizing: border-box;
    display: grid;
    background: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.171);
    border-radius: 3px;
}

.details-form button {
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background: #0095ff;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
}

.details-form button:hover {
    opacity: 0.9;
}

.details-form-account {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    color: #666666;
}

.details-form-account a {
    text-decoration: none;
    color: #0095ff;
    font-weight: bold;
}

.navbar {
    height: 70px;
    padding: 10px;
    align-items: center;
    z-index: 5;
    border-bottom: 1px solid #e6e6e6;
    /* box-shadow: 5px 0 5px 2px rgba(0, 0, 0, 0.144); */
}

.nav-logo {
    align-items: center;
    text-decoration: none;
    flex: 1;
    margin-left: 20px;
}

.nav-logo img {
    height: 30px;
    width: 30px;
}

.nav-logo span {
    margin-left: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-transform: lowercase;
}

.navbar-login {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(214, 212, 212);
    border-image: initial;
    border-radius: 50px;
    margin-right: 20px;
    padding: 10px 20px;
    background: white;
    font-weight: 400;
    font-size: 15px;
    color: black;
    text-decoration: none;
    box-shadow: rgba(165, 147, 147, 0) 0px 3px 1px -2px, rgba(181, 168, 168, 0) 0px 2px 2px 0px, rgba(162, 150, 150, 0.15) 0px 1px 5px 0px;
}

.dashboard-container {
    flex: 1;
}

.side-nav {
    width: 17%;
    border-right: 1px solid #e6e6e6;
    /* box-shadow: 0 8px 5px 3px rgba(0, 0, 0, 0.144); */
}

.side-nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.side-nav-item {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666666;
    font-weight: 500;
    border-left: 5px solid white;
}

.side-nav ul > li:first-child {
    margin: 0;
}

.side-nav-item i {
    font-size: 20px;
    width: 30px;
    opacity: 0.6;
}

.side-nav-item span {
    text-transform: capitalize;
    margin-left: 10px;
    font-size: 15px;
    flex: 1;
}

.side-nav-item:hover {
    background-color: rgb(244, 247, 249);
}

.nav-item-active {
    color: black;
    border-left: 5px solid #ff7043;
    background-color: #f1f1f1;
    font-weight: 550;
}

.nav-item-active > i {
    color: black;
    opacity: 1;
}

.dashboard {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.questions-bar {
    padding: 20px 30px;
    align-items: center;
    height: fit-content;
    border-bottom: 1px solid #f2f2f2;
}

#questions-title {
    font-size: 20px;
    opacity: 0.8;
    color: #666666;
    font-weight: bold;
    flex: 1;
}

#ask-question {
    background-color: #ff7043;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    height: fit-content;
}

#ask-question:hover {
    background-color: #f4511e;
}

.question-row {
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
}

.question-details {
    flex: 1;
}

.question-title {
    color: #0095ff;
    font-weight: bold;
    font-size: 16px;
    height: fit-content;
}

.tag {
    font-size: 12px;
    color: #666666;
    border: 1px solid #b3b3b3;
    margin: 0 5px;
    padding: 3px 8px;
    border-radius: 50px;
}

.tag:first-child {
    margin-left: 0;
}

.question-time {
    font-size: 13px;
    color: #666666;
    opacity: 0.8;
    margin-top: 10px;
}



