html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/* .card {
    background: white;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.171);
    border-radius: 3px;
} */

.flex {
    display: flex;
}

.none {
    display: none;
}

.grid {
    display: grid;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.fh {
    height: 100%;
}

.fw {
    width: 100%;
}

.box {
    box-sizing: border-box;
}

.landing-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#register-illustration {
    height: 100%;
    flex: 60%;
    padding: 100px;
    box-sizing: border-box;
}

#register-illustration img {
    width: 100%;
    margin: auto;
}

.landing-details {
    flex: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #f1f1f1; */
    box-sizing: border-box;
    overflow: hidden;
}

.landing-details-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

.landing-details-logo img {
    width: 30px;
    height: 30px;
}

.landing-details-logo span {
    height: fit-content;
    line-height: 0.5em;
    flex: 1;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #0095ff
}

.landing-details p {
    color: #666666;
    line-height: 1.5em;
    margin: 30px 20px 30px 0;
}

.details-form {
    width: 100%;
    display: grid;
}

.details-form-title {
    font-weight: bold;
    margin: 0 auto 15px auto;
    text-transform: capitalize;
    opacity: 0.9;
}

.form-input {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #666666;
    border-bottom: 1px solid #e6e6e6;
}

.form-input i {
    font-size: 20px;
    opacity: 0.8;
}

.form-input input {
    padding: 5px;
    font-size: 15px;
    margin-left: 10px;
    background: none;
    border: none;
    flex: 1;
}

.form-input input:focus{
    outline: none;
}

.form-input:last-child {
    border-bottom: none;
}

.landing-card {
    width: 85%;
    padding: 20px 10px;
    box-sizing: border-box;
    display: grid;
    background: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.171);
    border-radius: 3px;
}

.details-form button {
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background: #0095ff;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
}

.details-form button:hover {
    opacity: 0.9;
}

.details-form-account {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    color: #666666;
}

.details-form-account a {
    text-decoration: none;
    color: #0095ff;
    font-weight: bold;
}

.navbar {
    height: 70px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    background-color: white;
    /* box-shadow: 5px 0 5px 2px rgba(0, 0, 0, 0.144); */
}

.nav-logo {
    align-items: center;
    text-decoration: none;
    flex: 1;
    margin-left: 20px;
}

.nav-logo img {
    height: 30px;
    width: 30px;
}

.nav-logo span {
    margin-left: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-transform: lowercase;
}

.navbar-login {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(214, 212, 212);
    border-image: initial;
    border-radius: 50px;
    margin-right: 20px;
    padding: 10px 20px;
    background: white;
    font-weight: 400;
    font-size: 15px;
    color: black;
    text-decoration: none;
    box-shadow: rgba(165, 147, 147, 0) 0px 3px 1px -2px, rgba(181, 168, 168, 0) 0px 2px 2px 0px, rgba(162, 150, 150, 0.15) 0px 1px 5px 0px;
}

.dashboard-container {
    flex: 1;
}

.side-nav {
    width: 17%;
    border-right: 1px solid #e6e6e6;
    /* box-shadow: 0 8px 5px 3px rgba(0, 0, 0, 0.144); */
}

.side-nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.side-nav-item {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666666;
    font-weight: 500;
    border-left: 5px solid white;
}

.side-nav ul > li:first-child {
    margin: 0;
}

.side-nav-item i {
    font-size: 20px;
    width: 30px;
    opacity: 0.6;
}

.side-nav-item span {
    text-transform: capitalize;
    margin-left: 10px;
    font-size: 15px;
    flex: 1;
}

.side-nav-item:hover:not(.nav-item-active) {
    background-color: rgb(244, 247, 249);
}

.side-nav-item:hover {
    cursor: pointer;
}

.nav-item-active {
    color: black;
    border-left: 5px solid #ff7043;
    background-color: #f1f1f1;
    font-weight: 550;
}

.nav-item-active > i {
    color: black;
    opacity: 1;
}

.dashboard {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.questions-bar {
    padding: 20px 30px;
    align-items: center;
    height: fit-content;
    border-bottom: 1px solid #f2f2f2;
}

.all-questions-bar {
    padding: 20px 30px; 
    height: fit-content;
    /* width: fit-content; */
    border-bottom: 1px solid #f2f2f2;
}

.all-questions-toggle {
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    width: fit-content;
    color: #666666;
    font-size: 14px;
    margin-top: 15px;
    overflow: hidden;
}

.all-questions-toggle span {
    padding: 5px 10px;
    border-right: 1px solid #b3b3b3;
    margin: 0;
}

.all-questions-toggle > span:last-child {
    border-right: none;
}

.all-questions-toggle span:hover:not(.all-questions-toggle-active) {
    background-color: #f1f1f1;
}

.all-questions-toggle-active {
    background-color: #e6e6e6;
    color: black;
}

#questions-title {
    font-size: 20px;
    opacity: 0.8;
    color: #666666;
    font-weight: bold;
    flex: 1;
}

#ask-question {
    background-color: #ff7043;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    height: fit-content;
}

#ask-question:hover {
    background-color: #f4511e;
    cursor: pointer;
}

.questions-container {
    flex: 1;
    /* background: maroon; */
}

.question-row {
    width: 95%;
    height: fit-content;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #f1f1f1;
    /* display: flex; */
    flex-direction: row;
    /* background-color: pink; */
}

.question-details {
    flex: 1;
}

.question-title {
    color: #2979ff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5em;
    height: fit-content;
}

.question-title:hover {
    color: #64b5f6;
    cursor: pointer;
}

.tag {
    font-size: 12px;
    color: #666666;
    border: 1px solid #b3b3b3;
    margin: 0 5px;
    padding: 3px 8px;
    border-radius: 50px;
}

.tag:first-child {
    margin-left: 0;
}

.question-time {
    font-size: 13px;
    color: #666666;
    opacity: 0.8;
    margin-top: 10px;
}


.question-stats {
    align-items: center;
    height: fit-content;
    width: 25%;
    background: rebeccapurple;
    justify-content: center;
}

.stat {
    height: fit-content;
    margin: 0 10px;
    background: red;
    align-items: center;
}

.stat h3 {
    background: green;
    margin: 0;
}

.stat span {
    background: blue;
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.466);
}

.post-question-dialog {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #888;
    width: 60%;
    margin:  0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.post-question-dialog .title {
    font-weight: bold;
    opacity: 0.8;
}

.post-question-dialog hr {
    height: 0;
    width: 100%;
    border-width: 1px 0 0;
    border-color: gainsboro;
    opacity: 0.6;
    margin: 20px 0;
}

.post-question-dialog div span {
    font-weight: bold;
    opacity: 0.8;
}

.post-question-dialog div textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.3em;
    box-sizing: border-box;
    border-radius: 0.25rem;
    margin: 10px 0 20px 0;
    color: #495057;
    
}

.post-question-dialog div textarea::placeholder {
    opacity: 0.7;
}

    /* .modal-actions {
        justify-self: right;
    } */

.modal-actions button {
    margin: 0 10px;
}

#dialog-cancel {
    border: none;
    background: none;
    font-size: 15px;
    opacity: 0.7;
    padding: 10px;
}

#dialog-submit {
    padding: 10px 20px;
    background-color: #0095ff;
    border: none;
    border-radius: 0.25rem;
    color: white;
}

#dialog-submit:hover {
    opacity: 0.8;
}

#title-input {
    resize: none;
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.container .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
}

.answers-container {
    margin-top: 70px;
    padding: 20px 130px;
    height: fit-content;
    min-height: 100%;
    flex: 1;
    overflow: auto;
}

#answers {
    width: 70%;
    padding-right: 20px;
}

#answers #question-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1em;
    opacity: 0.8;
    margin: 0 0 10px 0;
}

#question-description {
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 500;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 15px;
}

.user-details {
    margin: 15px 0;
    align-self: flex-start;
    padding: 10px 0;
    align-items: center;
}

.user-details img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-details div {
    margin-left: 10px;
}

.user-details #name {
    font-size: 14px;
}

.user-details #time {
    font-size: 12px;
    opacity: 0.7;
}

#answers-count {
    font-size: 20px;
    flex: 1;
    margin: 0;
}

#question-actions {
    margin-top: 10px;
    align-items: center;
    align-content: center;
}

#question-actions .all-questions-toggle {
    margin-top: 0;
}

.answers-separator {
    height: 0;
    width: 100%;
    border-width: 1px 0 0;
    border-color: #b3b3b3;
    opacity: 0.3;
    margin: 15px 0;
}

#answers-list {
    height: fit-content;
}

#answers-list .answer:first-child {
    margin-top: 0px;
}

.answer {
    margin: 15px 0; 
}

.answer-status {
    width: 10%;
    height: fit-content;
    padding: 10px;
    align-items: center;
}

.answer-status ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.answer-status ul li {
    align-self: center;
}

.answer-status ul li i {
    font-size: 47px;
    color: #666666;
    opacity: 0.8;
}

.answer-status ul li i:hover {
    cursor: pointer;
}

.answer-status ul li span {
    font-size: 23px;
    color: #666666;
}

.answer-accepted {
    margin-top: 15px;
    font-size: 27px;
    color: #43a047;
}

.answer-not-accepted {
    display: none;
    color: white;
}

.answer-details {
    width: 90%;
    padding-left: 10px;
    padding-bottom: 25px;
    height: fit-content;
    border-bottom: 1px solid rgb(179,179,179, 0.4);
}

#answers-list .answer:last-child > .answer-details {
    border-bottom: none;
    padding-bottom: 0;
}

.answer-details .user-details {
    margin: 0;
    padding: 0;
}

#answers-list .answers-separator {
    width: 90%;
    align-self: flex-end;
    opacity: 0.2;
}

#suggestions {
    width: 30%;
    padding-left: 15px;
}

#suggestions span {
    height: fit-content;
    width: fit-content;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

#suggestions hr {
    height: 0;
    width: 100%;
    border-width: 1px 0 0;
    border-color: #b3b3b3;
    opacity: 0.3;
    margin: 10px 0;
}

#suggestions .question-title {
    font-size: 14px;
    font-weight: 500;
    color: #1565c0;
    margin: 5px 0;
}